/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-akash: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, #root {
  width: 100%;
  height: 100%;
}
